@import "bootstrap/scss/bootstrap";


.cursor-pointer {
  cursor: pointer !important;
}

.text-green {
  color: limegreen !important;
}

.text-red {
  color: red !important;
}

body {
  min-width: 400px;
}
